@model BookLists.Models.Book
@{
    ViewData["Title"] = "Create";
}
<br />
<h2>Add New Book</h2>

<hr />


<form asp-action="Delete">
    <div class="form-border">
        <div class="form-group">
            <div class="row">
                <div class="col-sm-1">
                    <label asp-for="Name"></label>
                </div>
                <div class="col-sm-4">
                    <input asp-for="Name" disabled class="form-control" />
                </div>
            </div>
        </div>
        <br />
        <div class="form-group">
            <input type="submit" value="Delete" class="btn btn-sm btn-primary" />
            <input type="submit" asp-action="Index" value="Back to List" class="btn btn-sm btn-success" />
        </div>
    </div>
</form>